#carousel-wrapper>.carousel-inner {
  max-height: 400px;
}

#carousel-wrapper>.carousel-inner img {
  width: 100%;
}

.footer {
  background: #000;
  color: #ffffff;
  padding: 25px;
  font-size: 1.5em;
}

.card-body {
  color: #FF5733
}

body {
  background: #0f44f175;
}